body{
    margin: 0px;
    background-image: url('../wall1.jpeg');
    
}
.nav img {
    width: 10%;
    float: left;
}
.nav {
    background-color: rgba(234,240,240,0.6);
    padding: 30px
}
.intro {
    background-color: rgba(234,240,240,0.6);
    width: 40%;
    margin: 6%;
    padding: 1%;
    text-align: center;
    float: left;
}
.monday{
    background-color: rgba(234,240,240,0.6);
    width: 300px;
    height: 170px;
    position: relative;
    left:60%;
    top: 20vh;
    padding: 30px;

}
#monday {
    position: fixed;
    bottom: 25%;
}
#Tue {
    position: fixed;
}
