body{
    margin: 0px;
    background-image: url('../wall1.jpeg');
    
}
.nav img {
    width: 10%;
    float: left;
}
.nav {
    background-color: rgba(234,240,240,0.6);
    padding: 30px
}
.intro {
    background-color: rgba(234,240,240,0.6);
    width: 40%;
    margin: 6%;
    padding: 1%;
    text-align: center;
}
.namecard {
    display: grid;
    grid-template-columns: 400px;
    grid-template-areas: "image" "name" "meaning";
    background-color: rgba(234,240,240,0.6);
}
.image{
    grid-area: image;
}
.name{
    grid-area: name;
}
.meaning {
    grid-area: meaning;
}